<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Lynx</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list" class="list">
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">school</mat-icon>
          <p>Web Developer</p>
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">hourglass_top</mat-icon>
          <p>Período: 2017-</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>SimTLix</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list" class="list">
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn" class="list-icon">school</mat-icon>
          <p>Software Developer</p>
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">hourglass_top</mat-icon>
          <p>Perid: 2021 - today</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>