<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Catholic University of Córdoba</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list" class="list">
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">school</mat-icon>
          <p>Bachelor's degree in systems engineering</p>
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">hourglass_top</mat-icon>
          <p>Period: 2017 - today</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>La Salle Argüello School</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list" class="list">
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn" class="list-icon">school</mat-icon>
          <p>Bachelor's degree with orientation in Management</p>
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item">
          <mat-icon color="warn">hourglass_top</mat-icon>
          <p>Período: 2010-2016</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
