<div role="main" class="body">
  <mat-card>
    <div class="row-container">
      <div class="first-col intro">
        <img mat-card-lg-image mat-card-avatar src="./assets/images/profileImage.png" alt="Profile photo">
        <h1>Milena Lucero</h1>
      </div>
      <div class="second-col">
        <h2 class="title">About me</h2>
        <p>I am a college student soon to become a systems engineer, 
          eager to learn about the new technologies that rule the software industry and challenge myself on a daily basis in my workplace.</p>
        <p>I chose this career because I not only wanted to help the people around me, 
          but also to do something that would allow me to explore all my creativity and potential.</p>
      </div>
    </div>


    <div class="content">
      <h2>Personal Info</h2>
      <div class="row-container">
        <div class="first-col">
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <h3>Age: 22</h3>
            </mat-list-item>

            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <h3>Location: Córdoba, Argentina</h3>
            </mat-list-item>

            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <h3>Languages: Spanish, English and French (un peu).</h3>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="second-col">
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <h3>Phone: +54 351 3779921</h3>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <a class="personal-info-link" target="_blank"
                href="mailto:someone@yoursite.com?subject=Mail from my Site">
                Email: milelucerowrk@gmail.com
              </a>
            </mat-list-item>

            <mat-list-item role="listitem" class="list-item">
              <mat-icon color="warn">navigate_next</mat-icon>
              <h3>LinkedIn:</h3>
              <a class="personal-info-link" target="_blank" href="https://www.linkedin.com/in/milena-lucero/">
                <fa-icon class="contact-icon" [icon]="faLinkedIn"></fa-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>


      <div class="info-section">
        <h2>Education</h2>
        <accordion-education></accordion-education>
      </div>

      <div class="info-section">
        <h2>Work Experience</h2>
        <accordion-work></accordion-work>
      </div>

      <div class="info-section">
        <h2>Skills</h2>
      </div>
      <div class="row-container">
        <div class="first-col">
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <h2>React JS & Redux</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="60">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>C++</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="60">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>Python</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="40">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>Deep Learning and AI</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="45">
              </mat-progress-bar>
            </mat-list-item>
          </mat-list>
        </div>


        <div class="second-col">
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <h2>CI/CD</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="40">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>JAVA</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="30">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>Docker</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="30">
              </mat-progress-bar>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <h2>SQL</h2>
              <mat-progress-bar mode="determinate" class="progress" color="warn" mode="buffer" value="40">
              </mat-progress-bar>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div class="row-container">
        <div class="first-col">
          <h2>Interests</h2>
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>edit</mat-icon>
              </button>
              <h2>Writing</h2>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>directions_bike</mat-icon>
              </button>
              <h2>Sports</h2>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>travel_explore</mat-icon>
              </button>
              <h2>Traveling</h2>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="second-col">
          <h2>Recent Projects</h2>
          <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="list-item">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>public</mat-icon>
              </button>
              <a class="personal-info-link" href="https://trazeit.netlify.app/" target="_blank">
                TrazeIt
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>